---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description = "Astro description", image = "/images/band.jpg" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/iptek-logo-fav.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<ViewTransitions/>
		<title>{title}</title>
	</head>
	<body class="bg-gray-100 text-gray-800">
		<Header />
		<slot />
		
	</body>
</html>
